<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <h1>Welcome to Quoting Dojo</h1>
    <form class="" action="/quotes" method="post">
      Name: <input type="text" name="name" value=""><br>
      Quote: <textarea name="quote" rows="8" cols="80"></textarea><br>
      <input type="submit" name="" value="Enter"><br>
    </form>
  </body>
</html>
