<p [ngStyle]="{
  'text-align': 'right'
}">
<a [routerLink] = "['/create']"> Create a new Mongo </a>
</p>

<h1 [ngStyle]="{
  'text-align': 'center'
}">Mongoose Dashboard</h1>

<table>
<thead>
  <th>Name</th>
  <th>Location</th>
  <th>Skill</th>
  <th>Color</th>
  </thead>
<tbody>
  <tr *ngFor = "let mongo of Mongos">
    <td><a [routerLink]="['/mongoose',mongo._id]">{{mongo.name}}</a></td>
    <td>{{mongo.location}}</td>
    <td>{{mongo.skill}}</td>
    <td>{{mongo.color}}</td>
  </tr>
</tbody>
</table>

