<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <form class="" action="/users" method="post">
      Name: <input type="text" name="name" value=""><br>
      Age: <input type="text" name="age" value=""><br>
      <input type="submit" name="" value="Enter"><br>
    </form>
  </body>
</html>
