<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
            // this triggers the connection event in our server!
            var socket = io.connect();
            // we'll write all the socket stuff after the above line!

            $(".survey_form").submit(function() {
              socket.emit("posting_form", {
                name: $(".name").val(),
                location: $(".location").val(),
                language: $(".language").val(),
                comment: $(".comment").val()
              })
              return false;
            })

            socket.on("message", function(data){
              $(".message").html("You emitted the following info" +JSON.stringify(data.response));
            })

            socket.on("random_number", function (data){
              $(".number").html("Your number is" +JSON.stringify(data.response));
            })
        })
    </script>
  </head>
  <body>
    <div class = "message">

    </div><br>
    <div class = "number">

    </div>
    <h1>Survey Form</h1>
    <form class="survey_form" action="/result" method="post" >
    Your Name: <input class = "name" type="text" name="name" value=""><br>
    Dojo Location:
    <select class="location" name="location">
      <option value="SJ">SJ</option>
      <option value="LA">LA</option>
    </select><br>
    Favorite Language:
    <select class="language" name="language" >
      <option value="JS">JS</option>
      <option value="Python">Python</option>
      <option value="Swift">Swift</option>
    </select><br>
    Comment:<br>
    <textarea name="comment" rows="8" cols="80" class= "comment"></textarea><br>
    <input type="submit" name="" value="Enter"><br>
    </form>
  </body>
</html>
