<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Survey Form</h1>
    <form class="" action="/result" method="post">
    Your Name: <input type="text" name="name" value=""><br>
    Dojo Location:
    <select class="" name="location">
      <option value="SJ">SJ</option>
      <option value="LA">LA</option>
    </select><br>
    Favorite Language:
    <select class="" name="language">
      <option value="JS">JS</option>
      <option value="Python">Python</option>
      <option value="Swift">Swift</option>
    </select><br>
    Comment:<br>
    <textarea name="comment" rows="8" cols="80"></textarea><br>
    <input type="submit" name="" value="Enter"><br>
    </form>
  </body>
</html>
