<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form</title>
  </head>
  <body>
    <h1>Results</h1>
    <h2> Name: <%= name%> </h2>
    <h2> Location: <%= location%> </h2>
    <h2> Language: <%= language%> </h2>
    <h2> Comment: <%= comment%> </h2>
  </body>
</html>
