
<p>
<a [routerLink] = "['/']"> Back </a>
</p>

<h4>Create a New Mongo:</h4>


    <form #formMongo = 'ngForm' (submit)='create(formMongo)'>
      <label for="name">Name:</label>
      <input type="text" name="name" id = "name" value="" 
      required
      minlength = 3
      [(ngModel)] = 'mongo.name' 
      #name = 'ngModel'><br>
       <div *ngIf='name.errors && (name.touched || formMongo.submitted)'>
          <p id = "red" *ngIf = "name.errors?.required">* Name is required</p><br>
          <p id = "red" *ngIf = "name.errors?.minlength">* Name must be at least 3 characters long</p>
      </div>

      <label for="location">Location:</label>
      <input type="text" name="option1" id = "option1" value="" 
      required
      minlength = 3
      [(ngModel)] = 'mongo.location' 
      #location = 'ngModel'><br>
       <div *ngIf='location.errors && (location.touched || formMongo.submitted)'>
          <p id = "red" *ngIf = "location.errors?.required">* Location is required</p><br>
          <p id = "red" *ngIf = "location.errors?.minlength">* Location must be at least 3 characters long</p>
      </div>

      <label for="skill">Skill:</label>
      <input type="text" name="skill" id = "skill" value="" 
      required
      minlength = 3
      [(ngModel)] = 'mongo.skill' 
      #skill = 'ngModel'><br>
       <div *ngIf='skill.errors && (skill.touched || formMongo.submitted)'>
          <p id = "red" *ngIf = "skill.errors?.required">* Skill is required</p><br>
          <p id = "red" *ngIf = "skill.errors?.minlength">* Skill must be at least 3 characters long</p>
       </div>
        
      <label for="color">Color:</label>
      <input type="text" name="color" id = "color" value="" 
      required
      minlength = 3
      [(ngModel)] = 'mongo.color' 
      #color = 'ngModel'><br>
       <div *ngIf='color.errors && (color.touched || formMongo.submitted)'>
          <p id = "red" *ngIf = "color.errors?.required">* Color is required</p><br>
          <p id = "red" *ngIf = "color.errors?.minlength">* Colormust be at least 3 characters long</p>
      </div>  

      <button type="submit" [disabled] = "!formMongo.form.valid" name="submit" value="Add Mongo">Add Mongo </button>

    </form>
  