<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/<%=animals._id%>" method="post">
      Animal Name: <input type="text" name="name" value="<%=animals.name%>"><br>
      Location: <input type="text" name="location" value="<%=animals.location%>"><br>
      Weight: <input type="text" name="weight" value="<%=animals.weight%>"><br>
      <input type="submit" name="" value="Update"><br>
    </form>
  </body>
</html>
