<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <h1>Animal Info</h1>
    <form class="" action="/post/new" method="post">
      Animal Name: <input type="text" name="name" value=""><br>
      Location: <input type="text" name="location" value=""><br>
      Weight: <input type="text" name="weight" value=""><br>
      <input type="submit" name="" value="Enter"><br>
    </form>
  </body>
</html>
