<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/edit/<%=animals._id%>">Edit</a>
    <ul>
      <li>Animal: <%=animals.name%></li>
      <li>Location: <%=animals.location%></li>
      <li>Weight: <%=animals.weight%></li>
    </ul>
  </body>
</html>
