<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <script src="/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>
  </head>
  <body>
    <div class="container">
      <h1>This is show</h1>
    </div>

  </body>
</html>
